@import 
url('https://fonts.googleapis.com/css2?family=Tenor+Sans&display=swap');

html {
    font-size: 16px;
}

body {
    font-family: 'Tenor Sans', sans-serif;
    line-height: 1;
    background-color: #fcf2ee;
}

nav {
    font-family: 'Tenor Sans', sans-serif;
    font-size: 3rem;
    display: flex;
    align-items: center;
    justify-content: space-between;
    max-width: 83.385rem;
    margin: auto;
}

nav a {
    text-decoration: none;
    margin: 0 0 0 2rem;
}

h1 {
    font-family: 'Tenor Sans', sans-serif;
    font-size: 3rem;
}

h3 {
    font-size: 1rem;
}


a:visited,
.selected {
    color: #a9bd6f;
}

header {
    font-family: 'Tenor Sans', sans-serif;
    display: flex;
    align-items: center;
    justify-content: space-between;
    max-width: 83.385rem;
    margin: auto;
}

main {
    font-family: 'Tenor Sans', sans-serif;
    margin: auto;
    max-width: 58.5rem;
    align-items: left;
}

.hero {
    max-width: 100%;
    height: 100vh;
    width: 100vw;
    background-color: #f8cec1;
    display: flex;
    justify-content: center;
    align-items: center;
}

.intro-text {
    margin: auto;
    text-align: center;
    padding-left: 5rem;
    padding-right: 5rem;
}

footer {
    width: 57rem;
    margin: auto;
    display: flex;
    align-items: left;
    justify-content: space-around;
    max-width: 58.5rem;
}